/.bundle/
/.yardoc
/Gemfile.lock
/Gemfile.local*
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/test/dummy/log/
/test/dummy/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/tmp/
/docs/
