---
name: Ruby

on:
  push:
    tags: ["*"]
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.3', '3.4', '4.0']
        rails-version: ['~> 8.0.0', '~> 8.1.0']

    services:
      db:
        image: ghcr.io/seuros/postgis-with-extensions:18
        ports:
          - 5432:5432
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_USER: ubuntu
          POSTGRES_DB: ubuntu
          POSTGRES_PASSWORD: ubuntu
          POSTGRES_INITDB_ARGS: "--data-checksums"
        options: >-
          --health-cmd="pg_isready -U ubuntu"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      RAILS_VERSION: ${{ matrix.rails-version }}
      DATABASE_URL: postgres://ubuntu:ubuntu@localhost:5432/activematrix_test

    steps:
    - uses: actions/checkout@v5
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Setup test database
      run: |
        cd test/dummy
        bundle exec rails db:prepare RAILS_ENV=test
    - name: Rubocop
      run: bundle exec rubocop lib/
    - name: Run tests
      run: bundle exec rake
